body {
  background: #F3F4F7;
  font-size: 14px;
  line-height: 1.5;
}

.alignC {
  text-align: center;
}

a {
  display: inline-block;
  color: #00ACE5;
  font-size: 12px;
  line-height: 1.5;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.invalid-feedback {
    display: block;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding: 72px 40px;
  
  .logo {
    margin-bottom: 74px;
  } 
}

@media screen and (max-width: 480px) {
  body {
    background: #fff;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 40px 16px;
    
    .logo {
      margin-bottom: 32px;
    } 
  }
}
        